[Unit]
Description=Prepare RPI configuration
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/pi/KonRoBot/KonRoBot/utils
ExecStartPre=gpio -g mode 26 up
ExecStartPre=gpio -g mode 17 up
ExecStartPre=gpio -g mode 0 up
ExecStart=/usr/bin/sudo /usr/bin/python3 readAnalogValues.py &
RestartSec=5
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
